.language-switcher {
  margin-left: 20px;
  display: flex;
  gap: 10px;
}

.language-button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s;
  background-color: orange;
}

.language-button:hover {
  background-color: chocolate;
}
